/* #####################################
    HOMEPAGE LOGO 
########################################*/
.logo-header, .logo-footer {
    width: 300px; 
    height: 80px;
}

@media (max-width: 360px) {
    .logo-header {
      width: auto;
      height: auto;
    }
}

/* #####################################
    REGISTER / CONNECTION PAGES 
########################################*/
.register-form {
  /* Escape navbar height */
  margin-top: 200px;
}

.register-form legend {
  color: #fff;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.button {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-decoration: none ;
  outline: none ;
  transition: all .3s ease-in-out ;
  display: block ;
  width: 100% ;
  padding: 14px 16px ;
  border-radius: 6px ;
  font-size: 14px ;
  line-height: 1.5 ;
  box-sizing: border-box ;
  text-align: center ;
  font-family: 'Roboto', sans-serif ;
  background: #88c9ff ;
  border: 3px solid #88c9ff ;
  color: #fff ;
}

.register-form .form-group label {
  display: inline-block;
  position: relative;
  top: 5px;
  color: #f50000;
  font-size: 18px;
  font-weight: bolder;
}
.register-form .form-group label span {
  font-size: 10px;
  color: #fff;
}

/* #####################################
    FLASH MESSAGES 
########################################*/
.alert-close {
  font-size: 40px;
  font-weight: 1000;
  border: none;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
}
.alert {
  border-radius: 10px;
  margin: auto auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
.alert-success {
  background: #3c763d;
  border: solid 1px #366b37;
}
.alert-warning {
  background: #a89700ad;
  border: solid 1px #978800;
}
.alert-danger {
  background: #dd0700ad;
  border: solid 1px #b60600;
}
