.card {
    width: 350px;
    border: none;
    border-radius: 15px
}

.adiv {
    display: flex;
    justify-content: space-between;

    background: #04a3cb;
    color: #fff;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 15px;
    height: 46px;
    padding: 1rem;
}

.chat {
    border: none;
    background: #E2FFE8;
    font-size: 10px;
    border-radius: 20px
}

.bg-white {
    border: 1px solid #E7E7E9;
    font-size: 10px;
    border-radius: 20px
}

.reduction {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 40px;
    font-weight: 1000;
    position: relative;
    top: -40px;
    width: auto;
    height: auto;
}

.form {
    margin: 0;
}

.popup {
    position: fixed !important;
    bottom: 0;
    right: 100px;
    z-index: 999;
    max-height: 50rem;
}

.form-group {
    margin-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

.input-container {
    margin-top: 1rem; 
    display: flex;
}

.chat-card { 
    background-color: aliceblue;
    border-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#messages { list-style-type: none; margin: 0; padding: 0; max-height: 40rem; overflow: auto;}
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }