* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

.page {
  background-color: #d0d0d0;
  width: 100%; height: 100%;
}

.container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 700px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 0 20px 8px #dddddd;
}

h1 { text-align: center; }


.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 100%;
  height: 100%;
}
  
.div1 { grid-area: 1 / 1 / 2 / 2;   overflow: hidden; position: relative;}
.div2 { grid-area: 2 / 1 / 3 / 2;   overflow: hidden; position: relative;}
.div3 { grid-area: 1 / 2 / 3 / 3;   overflow: hidden; position: relative;}
.div4 { grid-area: 3 / 1 / 5 / 3;   overflow: hidden; padding:1rem; }
.div5 { grid-area: 5 / 1 / 6 / 2;   overflow: hidden; padding:1rem; }
.div6 { grid-area: 5 / 2 / 6 / 3;   overflow: hidden; position: relative;}

.society-info {
  width:100%;
  position: absolute;
  bottom: 10%; left: 0;
  padding: 1rem;  
}

.customer-info-container {
  position: absolute;
  bottom: 40%; right: 0;
  padding: 1rem;  
}

.customer-info-container p {
  padding: 0;
  text-align: end;
}

.product-container {
  position: absolute;
  bottom: 20%; left: 0;
  padding: 1rem;
}

.product-container-img {
  position: absolute;
  right: 0;
  padding: 1rem;
}

.product-description {
  width:100%; height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchase-validation-container {
  position: absolute;
  bottom: 0; right: 0;
  padding: 1rem;
}
