<!-- Navigation bar -->
<div id="site-header">
    <header id="header" class="header-block-top">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <nav class="navbar navbar-default" id="mainNav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                    <img src="public/images/logo.png" class="logo-header" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Check navbar properties before display if parameter exists -->
                        <!-- Else we display default navigation bar -->
                        <% if( typeof(navtype) != 'undefined' ) { %> 
                            <% if(navtype == 'homepage'){ %>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="#faqtop">FAQ</a></li>
                                        <li><a href="/home">Homepage</a></li>
                                    </ul>
                                </div>
                            <% } if(navtype == 'dashboard') { %>
                                <!-- Paste here dashboard navbar -->
                            <% } %>
                        <% } else { %>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#faqtop">FAQ</a></li>
                                    <li><a href="/home">Homepage</a></li>
                                </ul>
                            </div>
                        <% } %>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>